{{ ansible_managed | comment }}

# rustfs Admin credentials
RUSTFS_ACCESS_KEY="{{ rustfs_root_user }}"
RUSTFS_SECRET_KEY="{{ rustfs_root_password }}"

# rustfs data volumes
RUSTFS_VOLUMES="{{ rustfs_server_datadirs | join(' ') }}"

# rustfs listen addresses
RUSTFS_ADDRESS="{{ rustfs_server_addr }}:{{ rustfs_server_port }}"
RUSTFS_CONSOLE_ADDRESS="{{ rustfs_server_addr }}:{{ rustfs_console_port }}"

# Web console
RUSTFS_CONSOLE_ENABLE={{ rustfs_console_enable | lower }}

# Logging
RUSTFS_OBS_LOGGER_LEVEL={{ rustfs_obs_logger_level }}
RUSTFS_OBS_LOG_DIRECTORY="{{ rustfs_log_dir }}/"

{% if rustfs_server_opts %}
# Additional CLI options
RUSTFS_OPTS="{{ rustfs_server_opts }}"
{% endif %}

{{ rustfs_server_env_extra }}
